{% load static %}<!doctype html>
<html>
  <head>
    <script defer src='{% static "schema_graph/main.js" %}'></script>
    <script>
      window.schema = {{ schema|safe }};
    </script>
    <style>
      html {
        overflow-y: auto !important; /* Override vuetify */
        font-family: "Roboto", sans-serif;
      }
      body {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div id="schema-graph-app"></div>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  </body>
</html>
